#set( $Content-Type = "application/json" )
{"items":[{
      "cpu.load": "$monitor.getCpuLoad('###.##')",
      "total.jvm.memory": "$monitor.getTotalJvmMemory('MB') MB",
      "free.jvm.memory": "$monitor.getFreeJvmMemory('MB') MB",
      "used.jvm.memory": "$monitor.getUsedJvmMemory('MB') MB",
      "total.physical.system.memory": "$monitor.getTotalPhysicalSystemMemory('GB') GB",
      "total.free.physical.system.memory": "$monitor.getTotalFreePhysicalSystemMemory('MB') MB",
      "total.used.physical.system.memory": "$monitor.getTotalUsedPhysicalSystemMemory('GB') GB",
      "number.of.cpus": "$monitor.getNumberOfCpus()"
}]}
